<h1>Write a new article</h1>

<form action="/articles" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title">

  <label for="content">Content:</label>
  <input type="text" name="content">
  
  <input type="submit" value="submit">
</form>